<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Addresses</title>
  <style>
  body {margin:0;}

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
</style>
</head>
<body>

  <div class="topnav">
    <a href="/">Home</a></li>
    <a href="/contacts">Contacts</a>
    <a href="/groups">Groups</a>
    <a href="/profiles">Profiles</a>
    <a class="active" href="/addresses">Addresses</a>
  </div>
  <h1>TABLE ADDRESSES</h1>
  <table border = "1">
    <thead>
      <tr>
        <th>ID</th>
        <th>STREET</th>
        <th>CITY</th>
        <th>ZIPCODE</th>
        <th>NAME</th>
        <th>COMPANY</th>
        <th>PHONE</th>
        <th>EMAIL</th>
      </tr>
    </thead>
    <tbody>
      <%data.forEach (row=> {%>
        <tr>
          <td><%= row.id%></td>
          <td><%= row.street%></td>
          <td><%= row.city%></td>
          <td><%= row.zipcode%></td>
          <td><%= row.name%></td>
          <td><%= row.company%></td>
          <td><%= row.telp_number%></td>
          <td><%= row.email%></td>
          <td>
            <a href="/addresses/edit/<%=row.id%>">EDIT</a>
            <a href="/addresses/delete/<%=row.id%>">DELETE</a>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
    <h2>ADD ADDRESS</h2>
    <form action="/addresses" method="post">
      Street :
      <br>
      <input type="text" name="street">
      <br>
      City:
      <br>
      <input type="text" name="city">
      <br>
      Zipcode:
      <br>
      <input type="text" name="zipcode">
      <br>
      Name: <br>
      <select name="ContactId">
        <%for(let i=0; i< dataContacts.length; i++){%>
    <option value="<%=dataContacts[i].id%>"><%=dataContacts[i].name%></option>
    <%}%>
  </select>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
  </html>
