<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Profiles</title>
  <style>
  body {margin:0;}

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
</style>
</head>
<body>

  <div class="topnav">
    <a href="/">Home</a></li>
    <a href="/contacts">Contacts</a>
    <a href="/groups">Groups</a>
    <a class="active" href="/profiles">Profiles</a>
    <a href="/addresses">Addresses</a>
  </div>
    <h1>TABLE PROFILE</h1>
    <table border = "1">
      <thead>
        <tr>
          <th>ID</th>
          <th>USERNAME</th>
          <th>PASSWORD</th>
          <th>CONTACTS NAME</th>
        </tr>
      </thead>
      <tbody>
        <%data.forEach (row=> {%>
          <tr>
            <td><%= row.id%></td>
            <td><%= row.username%></td>
            <td><%= row.password%></td>
            <td><%= row.name%></td>
            <td>
              <a href="/profiles/edit/<%=row.id%>">EDIT</a>
              <a href="/profiles/delete/<%=row.id%>">DELETE</a>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
      <h2>ADD PROFILE</h2>
      <form action="/profiles" method="post">
    User Name: <br>
    <input type="text" name="username">
    <br>
    Password: <br>
    <input type="text" name="password">
    <br>
    Name: <br>
    <select name="ContactId">
      <%for(let i=0; i< dataContacts.length; i++){%>
  <option value="<%=dataContacts[i].id%>"><%=dataContacts[i].name%></option>
  <%}%>
</select>
    <input type="submit" value="Submit">
  </form>
  <h3><%=errorMsg%></h3>
  </body>
</html>
